# when clone this repository rename this file -> .env


# DB-Container Settings
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=

# FastAPI Port
FASTAPI_PORT=

# SQLAlchemy DB_URL
DATABASE_URL=

# Frontend URL (production: registered domain | testing: localhost)
FRONTEND_URL=